* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    width: 0 auto;
    font-weight: 300;
}

nav {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    background-color: #97d6f3;
    left: 0;
    right: 0;
    position:fixed;
    overflow: hidden;
    text-decoration: none;
    padding: 11px;
    text-align: center;
    justify-content: center;
}

nav ul li {
    flex-direction: row;
    display: inline;
    margin: 0 1% 0 1%;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: black;
}

header {
    font-family: 'Yeseva One';
    margin: 0 auto;
    padding: 28% 0 0 0;
}

ul {
    padding: 0;
    display: inline;
}

p {
    text-align: justify;
    text-indent: 8%;
}

.bio ul {
    text-align: center;
}

.bio {
    padding: 7%;
}

header li {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 23px;
}

li {
    list-style: none;
}

h2 {
    font-family: 'Poppins', sans-serif;;
    font-size: 50px;
}

h3 {
    font-size: 20px;
}

header img {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    max-width: 70%;
    max-height: 70%;
}

#about-me ul {
    padding: 70px;
    margin: 20px;
}

section img {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    max-width: 90%;
    max-height: 90%;
}

button {
    background-color: #e6a1a1;
    text-align: center;
    color: white;
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 23px;
}

button:hover {
    box-shadow: 2px 2px 8px #e99595;
}

section {
    min-height: 400px;
    padding: 2% 0;
}

#projects {
    margin: 5% 3% 5% 3%;
    text-align: center;
}

.project-container {
    border-radius: 5px;
    border: 2px solid gray;
    margin: 4rem auto !important;
    text-align: center;
    padding-bottom: 20px;
    align-content: center;
}

.project-container p {
    padding: 0 30px 0 30px;
}

#projects h2 {
    padding-top: 15px;
}

.project-container h3 {
    font-size: 20px;
}

.project-container ul {
    flex-direction: row;
}

footer {
    background-color: #97d6f3;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-decoration: none;
    padding: 1% 0;
    font-size: 15px;
    margin-top: 40px;
}

#contact {
    font-size: 20px;
}

#contact li {
    display: inline-block;
    padding: 3%;
    margin: 2%;
    text-align: center;
    width: 30%;
    font-size: 2rem;
}

#contact a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 360px) {
    nav ul li {
        font-size: 21px;
    }

    header {
        padding: 30% 0 0 0;
    }

    header li {
        font-size: 26px;
    }

    nav {
        padding: 10px;
    }

    #contact li {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 375px) {
    nav ul li {
        font-size: 22px;
    }

    nav {
        padding: 12px;
    }
    header {
        padding: 35% 0 0 0;
    }
}

@media screen and (min-width: 414px) {
    nav ul li {
        font-size: 23px;
    }

    nav {
        padding: 12px;
    }

    #contact li {
        font-size: 2.5rem;
    }

    button {
        padding: 10px 20px;
        font-size: 25px;
    }
}

@media screen and (min-width: 760px) {
    body {
        font-size: 35px;
    }

    header {
        font-size: 50px;
    }

    nav ul li {
        font-size: 35px;
        margin: 0 3% 0 3%;
    }

    nav {
        padding: 5px;
    }

    #contact li {
        font-size: 2.5rem;
    }
    
    button {
        padding: 10px 20px;
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    nav ul li {
        margin: 0 3% 0 3%;
        font-size: 35px;
    }

    header li {
        font-size: 45px;
    }

    nav {
        padding: 8px;
    }

    #contact li {
        font-size: 2.8rem;
    }

    button {
        padding: 10px 20px;
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        padding-top: 50px !important; 
        margin: 0;
    }

    header {
        padding: 5% 0 0 0;
    }

    header li {
        font-size: 40px;
        padding: 5% 0 0 0;
    }

    h2 {
        font-size: 80px;
    }

    .project-container {
        max-width: 70%;
    }

    .project-container h3 {
        font-size: 60px;
    }

    nav ul li {
        font-size: 45px;
        margin: 0 3% 0 3%;
    }

    #projects h2 {
        padding-top: 30px;
    }

    #about-me h2 {
        padding-top: 30px;
    }

    #contact h2 {
        padding-top: 30px;
    }

    header img {
        max-width: 20%;
        max-height: 20%;
    }

    P {
        text-indent: 3%;
    }
    
    section img {
        max-width: 130%;
        max-height: 130%;
    }

    #contact li {
        font-size: 2.8rem;
        width: 5%;
    }

    button {
        padding: 10px 20px;
        font-size: 30px;
    }
}

@media screen and (min-width: 1025px) {
    .project-container {
        max-width: 70%;
    }

    header {
        padding: 3.9% 0 0 0;
    }

    #contact li {
        font-size: 2.8rem;
    }

    nav ul li {
        font-size: 43px;
        margin: 0 5% 0 5%;
    }

    .bio {
        padding: 0 10% 0 10%;
    }
}
