* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    width: 0 auto;
}

nav {
    background-color: bisque;
    top: 0;
    left: 0;
    right: 0;
    position:fixed;
    overflow: hidden;
    text-decoration: none;
}

.nav ul li {
    flex-direction: row;
    display: inline;
    margin: 0 5% 0 5%;
}

header {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    padding: 8% 0 0 0;
}

header img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    padding: 0;
    display: inline;
}

.project-container {
    border: 2px solid gray;
    margin: 10px;
}

p {
    text-align: left;
    text-indent: 30px; 
}

.bio ul {
    text-align: center;
}

.bio {
    padding: 5%;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

li {
    list-style: none;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

button {
    background-color: blueviolet;
    text-align: center;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 20px;

}

button:hover {
    box-shadow: 2px 2px 8px #2E2E2E;
}

section {
    min-height: 200px;
    padding: 2% 0;
}

.project {
    margin: 5% 3% 5% 3%;
}

.project img {
    max-width: 100%;
    max-height: 100%;
    width: 0 auto;
}

.project-container {
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: bisque;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-decoration: none;
    padding: 1% 0;
    margin-top: 100px;
}

#contact li:hover {
    box-shadow: 2px 2px 8px #2E2E2E;
}

#contact {
    font-size: 20px;

}

#contact a {
    color: 
}

#contact li {
    border: 1px solid #2e2e2e;
    display: inline-block;
    padding: 3%;
    margin: 2%;
    width: 160px;
}

@media screen and (min-width: 760px) {
    body {
        font-size: 35px;
    }

    header {
        font-size: 50px;
    }

    p {
        text-align: center;
    }

    .project-container {
        border: 2px solid gray;
        max-width: 30em;
        text-align: center;
        align-content: center;
        margin: 0 auto;
    }

    ul.menu {
        display: block;
    }

    .nav {
        flex-direction: row;
    }

    .menu {
        display: block;
    }

}
